<div class="wrapper-index">
    <div class="col-md-12">
        <div class="login-panel panel panel-default">
            <div class="panel-heading" style="padding: 0px; text-align: center;">
                <img src="/assets/img/logo.jpg" alt="" class="logo img-responsive" id="logo-login">
            </div>
            <div class="panel-body">
                <form id="form-login">
                    <fieldset>
                        <p><input type="text" name="txtLogin" id="txtLogin" maxlength="20" class="form-control" placeholder="Login"></p>
                        <p><input type="password" name="txtSenha" id="txtSenha" maxlength="50" class="form-control" placeholder="Senha"></p>
                        <input type="button" name="btnEntrar" id="btnEntrar" value="Entrar" class="btn btn-lg btn-primary btn-block">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
