<div id="campanhas">
  <main>
    <div class="container main container-campanhas">
      @@include('../componentes/user-sidebar.html')
      <section class="wrap-campanhas">
        <div data-campanhas="geral">
          <div class="campanhas-title">
            <h2>Campanhas</h2>
            <p class="campanhas-title-sub">Bem-vindo ao histórico de campanhas +TOP!</p>
          </div>
          <div class="campanhas-slider">
            <!--  -->
          </div>
        </div>
        <div data-campanhas="leitura">
          <div class="campanhas-topo-leitura">
            @@include('../componentes/arrow-back.html')
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
