<div class="nav-home-header-mobile owlCarousel">
  <nav class="nav-home-header-mobile-slider slider-ativo-header">
    <div class="nav-home-header-mobile-item"><p data-click="meu-perfil">Meu perfil</p></div>
    <div class="nav-home-header-mobile-item"><p data-click="produtos-foco">Supertops</p></div>
    <div class="nav-home-header-mobile-item"><p data-click="produtos-participantes">Produtos participantes</p></div>
    <div class="nav-home-header-mobile-item"><p data-click="ulimas-novidades">Últimas novidades</p></div>
  </nav>
</div>
<div id="home">
  <main>
    <div class="container main container-home">
      <div class="flex-container-home">
        @@include('../componentes/user-sidebar.html')
        <section class="produtos-participantes">
          <div class="produtos-participantes-title" data-target="produtos-participantes"><h2>Produtos participantes</h2></div>
          <div class="produtos-participantes-sub">
            <picture> <img src="/_assets/img/logos/brastemp-consul.png" alt=""/></picture>
          </div>
          <div class="produtos-participantes-legenda">
            <div class="produtos-participantes-tipo"><p>Tipo</p></div>
            <div class="produtos-participantes-pontos"><p>Pts</p></div>
          </div>
          <div class="produtos-participantes-container">
            <!--  -->
          </div>
        </section>
      </div>
      <section class="ultimas-novidades">
        <div class="ultimas-novidades-title">
          <div class="ultimas-novidades-title-principal" data-target="ulimas-novidades"><h2>Últimas Novidades</h2></div>
          <div class="ultimas-novidades-title-sub">
            <p>Acompanhe as principais novidades do +Top</p>
            <a href="/Novidades" rel="noopener noreferrer">Ver todas as novidades</a>
          </div>
        </div>
        <div class="ultimas-novidades-carrossel owl-carousel">
          <!--  -->
        </div>
      </section>
    </div>
  </main>
</div>
