<div id="login">
  <main>
    <div class="login-container">
      <div class="personagem-login">
        <div class="personagem-login-img"></div>
      </div>
      <div class="content-login">
        <!-- <div>
          <p>USUARIO: 81529279887</p><br>
          <p>SENHA: 123456qweQWE</p>
          <br />
          <br />
        </div> -->
        <div class="container-logo-login">
          <img src="/_assets/img/logos/logo-mais-top-positivo.png" alt="Logotipo Mais Top - Brastemp Consul" />
        </div>
        <div class="cointainer-campos-login">

          <form name="form-login" id="form-login">
            <input id="cpf" class="input-login" iscpf type="text" placeholder="CPF" />
            <input id="senha" class="input-login" type="password" placeholder="Senha" />
            <button href="#!" type="submit" class="btn btn-laranja btn-login" id="btn-entrar">Entrar</button>
          </form>

          <a href="/EsqueceuSenha" class="login-esqueci-senha">Esqueceu sua senha?</a>
          <div class="separacao-login"></div>
          <a href="/PrimeiroAcesso" class="login-primeiro-acesso">Primeiro acesso</a>
          <div class="separacao-login"></div>
          <p class="infor-login">
            <span>Dúvidas?</span> Ligue para <a href="tel:08007800606">0800 780 0606</a> e
            fale com um de nossos atendentes.
          </p>
        </div>
      </div>
    </div>
  </main>
</div>
