<div id="novidades">
  <main>
    <div class="container main container-novidades">
      @@include('../componentes/user-sidebar.html')
      <section class="wrap-novidades">
        <div data-novidade="geral">
          <div class="novidades-title">
            <h2>Novidades</h2>
            <p class="novidades-title-sub">Acompanhe as principais novidades do +TOP.</p>
          </div>
          <div class="novidades-slider owl-carousel">
            <!--  -->
          </div>
        </div>
        <div data-novidade="leitura">
          <div class="novidades-topo-leitura">
            @@include('../componentes/arrow-back.html')
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
