<!-- Fontes do Google -->
<div id="fora-do-ar">
  <div class="fora-do-ar-imagem-mobile"></div>
  <main>
    <div class="container-fora-do-ar">
      <div class="fora-do-ar-info">
        <div class="fora-do-ar-logo">
          <img src="/_assets/img/logos/logo-mais-top-positivo.png" alt="Programa +Top">
        </div>
        <div class="fora-do-ar-texto">
          <div class="fora-do-ar-titulo">
            <h1>Prepare-se!</h1>
            <h2>Tem notícia boa chegando por aí</h2>
          </div>
          <div class="fora-do-ar-sub">
            <p>O +TOP vai voltar ainda melhor.</p>
            <p>E com muito mais vantagens para você.</p>
            <p><span>Aguarde.</span></p>
          </div>
          <div class="fora-do-ar-rodape">
            <p>Para informações sobre pedidos em andamento, entre em contato com a gente pelo: <a href="tel:0800 780 0606" rel="noopener noreferrer">0800 780 0606</a>.</p>
          </div>
        </div>
        @@include('../componentes/arrow-back.html')
      </div>
      <div class="fora-do-ar-imagem"></div>
    </div>
  </main>
</div>
