<div id="primeiro-acesso">
  <main>
    <div class="login-internas-container">
      <div class="personagem-login-internas">
        <div class="personagem-login-internas-img"></div>
      </div>
      <div class="content-login-internas">
        <div class="container-logo-login-internas">
          <img src="/_assets/img/logos/logo-mais-top-positivo.png" alt="Logotipo Mais Top - Brastemp Consul" />
        </div>
        <h2 class="login-internas-bem-vindo">Bem-vindo(a)</h2>
        <input id="cpf" class="input-login-internas" iscpf type="text" placeholder="Informe seu CPF*:" />
        <!-- <input id="codigo" class="input-login-internas" type="text" placeholder="Código de indicação:" /> -->
        <div class="btns-login-internas">
          <a href="/" rel="noopener noreferrer" id="entrar" class="btn btn-laranja btn-login-internas-entrar">Entrar</a>
          <a href="/Login" rel="noopener noreferrer" class="btn btn-voltar login-internas-voltar">Voltar</a>
        </div>
        <p class="infor-login-internas">
          <span>Dúvidas?</span> Ligue para <a href="tel:08007800606" rel="noopener noreferrer">0800 780 0606</a><br>e fale com um de nossos atendentes.
        </p>
      </div>
    </div>
  </main>
</div>
