<div id="publicar-planilhas">
  <main>
    <div class="container main container-planilhas">
      @@include('../componentes/user-sidebar.html')
      <section class="wrap-planilhas">
        <div data-planilha="home" class="subida-planilhas active">
          <div class="planilha-home-title">
            <h2>Novo fluxo de informações</h2>
            <p>Veja o passo a passo para publicar planilhas e garantir sua pontuação mensal.</p>
          </div>
          <div class="planlha-home-etapas">
            <div class="planlha-home-etapas-item">
              <div class="planilha-home-etapas-title">
                <p class="planilha-home-etapas-title-numero">1</p>
                <p class="planilha-home-etapas-title-descricao">Acesso pelo site +Top</p>
              </div>
              <div class="planilhas-home-etapas-texto">
                <div class="planilhas-home-etapas-img">
                  <img src="/_assets/img/planilhas/planilhas-etapa01.png" />
                </div>
                <p>Entre com seu login e senha e coloque na opção <span>“publicar planilha”</span>.</p>
              </div>
            </div>
            <div class="planlha-home-etapas-item">
              <div class="planilha-home-etapas-title">
                <p class="planilha-home-etapas-title-numero">2</p>
                <p class="planilha-home-etapas-title-descricao">Envie o arquivo de funcionários</p>
              </div>
              <div class="planilhas-home-etapas-texto">
                <div class="planilhas-home-etapas-img">
                  <img src="/_assets/img/planilhas/planilhas-etapa02.png" />
                </div>
                <p>O arquivo passará por uma validação do sistema em caso de aprovação, você receberá uma mensagem e a publicação do <span>arquivo de vendas</span> será liberada.</p>
              </div>
            </div>
            <div class="planlha-home-etapas-item">
              <div class="planilha-home-etapas-title">
                <p class="planilha-home-etapas-title-numero">3</p>
                <p class="planilha-home-etapas-title-descricao">Envie o arquivo de vendas</p>
              </div>
              <div class="planilhas-home-etapas-texto">
                <div class="planilhas-home-etapas-img">
                  <img src="/_assets/img/planilhas/planilhas-etapa03.png" />
                </div>
                <p>Novamente, o sistema avaliará o correto preenchimento das planilhas, se o arquivo for aprovado, você será informado por mensagem. <span>Fique ligado!</span></p>
              </div>
            </div>
            <div class="planlha-home-etapas-item">
              <div class="planilha-home-etapas-title">
                <p class="planilha-home-etapas-title-numero">4</p>
                <p class="planilha-home-etapas-title-descricao">Processamento de pontos</p>
              </div>
              <div class="planilhas-home-etapas-texto">
                <div class="planilhas-home-etapas-img">
                  <img src="/_assets/img/planilhas/planilhas-etapa04.png" />
                </div>
                <p>O progresso foi finalizado com sucesso e os pontos dos participantes foram distribuídos!</p>
              </div>
            </div>
          </div>
          <p class="planlha-home-etapas-validade">*Fluxo válido para publicação de planilhas a partir de junho de 2017 (fechamento Maio/2017).</p>
          <div class="planilha-home-prazo">
            <div class="planilha-home-prazo-img"><img src="/_assets/img/planilhas/icon-planilha-prazo.svg" /></div>
            <div class="planilha-home-prazo-text">
              <p class="planilha-home-prazo-text-principal">De olho no prazo</p>
              <p class="planilha-home-prazo-text-secundario">Publique suas planilhas até o <span>5º dia útil</span> do mês subsequente e ganhe <span>200 pontos</span>!</p>
            </div>
          </div>
          <div class="planilha-home-envio-arquivos">
            <div class="btns-envio-arquivos-planilhas" data-arquivo="funcionarios">
              <div class="btns-envio-arquivos-planilhas-image-funcionarios">
                <img src="/_assets/img/planilhas/icon-arquivo-funcionario.svg" />
              </div>
              <div class="btns-envio-arquivos-planilhas-text">
                <p>Enviar arquivos de funcionários</p>
              </div>
            </div>
            <div class="btns-envio-arquivos-planilhas" data-arquivo="vendas">
              <div class="btns-envio-arquivos-planilhas-image-vendas">
                <img src="/_assets/img/planilhas/icon-arquivo-vendas.svg" />
              </div>
              <div class="btns-envio-arquivos-planilhas-text">
                <p>Enviar arquivos de vendas</p>
              </div>
            </div>
          </div>
          <p class="planlha-home-etapas-duvidas">
            Dúvidas? Fale com o Atendimento ao Gestor da Informação: <a href="tel:11979616909" rel="noopener noreferrer">(11) 9.7961-6909</a> | e-mail:
            <a href="mailto:atendimentogi@programamaistop.com.br" rel="noopener noreferrer">atendimentogi@programamaistop.com.br</a>
          </p>
        </div>
        <div data-planilha="funcionarios" class="subida-planilhas">
          <div class="subida-planilhas-header">
            <h2 class="subida-planilhas-header-titulo">Siga as etapas abaixo para importar o arquivo de funcionários:</h2>
            <ol class="subida-planilhas-header-lista">
              <li>Selecione o mês correspondente ao arquivo que será enviado;</li>
              <li>Clique em "buscar" para importar o arquivo;</li>
              <li>Aguarde a validação do sistema (notificação via e-mail)</li>
            </ol>
          </div>
          <div class="subida-planilhas-atencao">
            <div class="subida-planilhas-atencao-img">
              <img src="/_assets/img/planilhas/icon-alerta.svg" />
            </div>
            <p class="subida-planilhas-atencao-texto"><span>Atenção:</span> em caso de erro detectado pelo sistema, faça os ajustes solicitados e repita a importação do arquivo.</p>
          </div>
          <div class="subida-planilhas-dados-importacao">
            <div class="subida-planilhas-dados-importacao-titulo">
              <p>Dados de importação</p>
            </div>
            <div class="subida-planilhas-dados-importacao-campos">
              <select class="subida-planilha-input subida-planilhas-dados-importacao-rede" id="" disabled>
                <!--  -->
              </select>
              <div class="subida-planilhas-dados-importacao-campos-div">
                <select class="subida-planilha-input subida-planilhas-dados-importacao-mes" id="">
                  <!--  -->
                </select>
                <select class="subida-planilha-input subida-planilhas-dados-importacao-ano" id="">
                  <!--  -->
                </select>
                <button class="btn btn-laranja subida-planilhas-dados-importacao-buscar">Buscar</button>
              </div>
            </div>
          </div>
          <div class="subida-planilhas-funcionarios-container-upload">
            <!-- <div class="subida-planilhas-upload-arquivo">
              <div class="subida-planilhas-upload-arquivo-titulo">
                <p>Arquivo:</p>
              </div>
              <div class="subida-planilhas-upload-arquivo-campos">
                <input
                  class="subida-planilhas-upload-arquivo-input-hidden"
                  type="file"
                  id="importar-arquivo-funcionarios-anexo"
                  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                />
                <div class="subida-planilhas-upload-arquivo-info-arquivo">
                  <label class="subida-planilhas-upload-arquivo-info-arquivo-label" for="importar-arquivo-funcionarios-anexo"><img src="/_assets/img/planilhas/icon-upload-arquivo.svg"/></label>
                  <p class="subida-planilhas-upload-arquivo-info-arquivo-nome"></p>
                </div>
                <div class="subida-planilhas-upload-arquivo-container">
                  <a class="subida-planilhas-upload-arquivo-btn btn btn-laranja" id="importar-arquivo-funcionarios">Importar</a>
                  <a class="subida-planilhas-upload-arquivo-baixar-modelo btn btn-download" download href="/_assets/img/download/modelo-hierarquia.xlsx" target="_blank" rel="noopener noreferrer"
                    >Baixar modelo de arquivo</a
                  >
                </div>
              </div>
            </div> -->
          </div>
          <div class="subida-planilhas-funcionarios-container-processo">
            <!-- <div class="subida-planilhas-etapas-processo">
              <div class="subida-planilhas-etapas-processo-bg"></div>
              <div class="subida-planilhas-etapas-processo-item" data-etapa-publicacao="upload">
                <div class="subida-planilhas-etapas-processo-item-img"></div>
                <p>Upload</p>
              </div>
              <div class="subida-planilhas-etapas-processo-item" data-etapa-publicacao="validando">
                <div class="subida-planilhas-etapas-processo-item-img"></div>
                <p>Validando Dados</p>
              </div>
              <div class="subida-planilhas-etapas-processo-item" data-etapa-publicacao="importacao">
                <div class="subida-planilhas-etapas-processo-item-img"></div>
                <p>Importação</p>
              </div>
            </div> -->
          </div>
          <div class="subida-planilhas-funcionarios-container-progresso">
            <!-- <div class="subida-planilhas-barra-progresso">
              <p class="subida-planilhas-barra-progresso-texto">Progresso</p>
              <p class="subida-planilhas-barra-progresso-porcentagem"><span>0</span>%</p>
              <div class="subida-planilhas-barra-progresso-cor" style="width: 0%;"></div>
            </div> -->
          </div>
          <div class="subida-planilhas-voltar-tela">
            <button class="btn btn-voltar btn-voltar-pesquisa">Voltar</button>
          </div>
        </div>
        <div data-planilha="vendas" class="subida-planilhas">
          <div class="subida-planilhas-header">
            <h2 class="subida-planilhas-header-titulo">Siga as etapas abaixo para importar o arquivo de vendas:</h2>
            <ol class="subida-planilhas-header-lista">
              <li>Selecione o mês correspondente ao arquivo que será enviado;</li>
              <li>Clique em "buscar" para importar o arquivo;</li>
              <li>Aguarde a validação do sistema (notificação via e-mail)</li>
            </ol>
          </div>
          <div class="subida-planilhas-atencao">
            <div class="subida-planilhas-atencao-img">
              <img src="/_assets/img/planilhas/icon-alerta.svg" />
            </div>
            <p class="subida-planilhas-atencao-texto"><span>Atenção:</span> em caso de erro detectado pelo sistema, faça os ajustes solicitados e repita a importação do arquivo.</p>
          </div>
          <div class="subida-planilhas-dados-importacao">
            <div class="subida-planilhas-dados-importacao-titulo">
              <p>Dados de importação</p>
            </div>
            <div class="subida-planilhas-dados-importacao-campos">
              <select class="subida-planilha-input subida-planilhas-dados-importacao-rede" id="" disabled>
                <!--  -->
              </select>
              <div class="subida-planilhas-dados-importacao-campos-div">
                <select class="subida-planilha-input subida-planilhas-dados-importacao-mes" id="">
                  <!--  -->
                </select>
                <select class="subida-planilha-input subida-planilhas-dados-importacao-ano" id="">
                  <!--  -->
                </select>
                <button class="btn btn-laranja subida-planilhas-dados-importacao-buscar">Buscar</button>
              </div>
            </div>
          </div>
          <div class="subida-planilhas-vendas-container-upload">
            <!-- <div class="subida-planilhas-upload-arquivo">
              <div class="subida-planilhas-upload-arquivo-titulo">
                <p>Arquivo:</p>
              </div>
              <div class="subida-planilhas-upload-arquivo-campos">
                <input
                  class="subida-planilhas-upload-arquivo-input-hidden"
                  type="file"
                  id="importar-arquivo-vendas-anexo"
                  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                />
                <div class="subida-planilhas-upload-arquivo-info-arquivo">
                  <label class="subida-planilhas-upload-arquivo-info-arquivo-label" for="importar-arquivo-vendas-anexo"><img src="/_assets/img/planilhas/icon-upload-arquivo.svg"/></label>
                  <p class="subida-planilhas-upload-arquivo-info-arquivo-nome"></p>
                </div>
                <div class="subida-planilhas-upload-arquivo-container">
                  <a class="subida-planilhas-upload-arquivo-btn btn btn-laranja" id="importar-arquivo-vendas">Importar</a>
                  <a class="subida-planilhas-upload-arquivo-baixar-modelo btn btn-download" download href="/_assets/img/download/modelo-vendas.xlsx" target="_blank" rel="noopener noreferrer"
                    >Baixar modelo de arquivo</a
                  >
                </div>
              </div>
            </div> -->
          </div>
          <div class="subida-planilhas-vendas-container-processo">
            <!-- <div class="subida-planilhas-etapas-processo">
              <div class="subida-planilhas-etapas-processo-bg"></div>
              <div class="subida-planilhas-etapas-processo-item" data-etapa-publicacao="upload">
                <div class="subida-planilhas-etapas-processo-item-img"></div>
                <p>Upload</p>
              </div>
              <div class="subida-planilhas-etapas-processo-item" data-etapa-publicacao="validando">
                <div class="subida-planilhas-etapas-processo-item-img"></div>
                <p>Validando Dados</p>
              </div>
              <div class="subida-planilhas-etapas-processo-item" data-etapa-publicacao="classificacao">
                <div class="subida-planilhas-etapas-processo-item-img"></div>
                <p>Classificação de Produto</p>
              </div>
              <div class="subida-planilhas-etapas-processo-item" data-etapa-publicacao="processando">
                <div class="subida-planilhas-etapas-processo-item-img"></div>
                <p>Processando Dados</p>
              </div>
              <div class="subida-planilhas-etapas-processo-item" data-etapa-publicacao="pontos">
                <div class="subida-planilhas-etapas-processo-item-img"></div>
                <p>Pontos Disponíveis</p>
              </div>
            </div> -->
          </div>
          <div class="subida-planilhas-vendas-container-progresso">
            <!-- <div class="subida-planilhas-barra-progresso">
              <p class="subida-planilhas-barra-progresso-texto">Progresso</p>
              <p class="subida-planilhas-barra-progresso-porcentagem"><span>0</span>%</p>
              <div class="subida-planilhas-barra-progresso-cor" style="width: 0%;"></div>
            </div> -->
          </div>
          <div class="subida-planilhas-voltar-tela">
            <button class="btn btn-voltar btn-voltar-pesquisa">Voltar</button>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
