<div id="sobre">
  <main>
    <div class="container main container-sobre">
      @@include('../componentes/user-sidebar.html')
      <section class="wrap-sobre">
        <div class="conteudo-sobre">
          <h2 class="conteudo-sobre-titulo">Sobre o +TOP</h2>
          <p class="conteudo-sobre-texto">
            O Programa de relacionamento da Whirlpool que reconhece e premia quem faz a diferença!
          </p>
        </div>
        <div class="container-video">
          <!--  -->
        </div>
        <div class="download-sobre">
          <a id="pdf-regulamento" download class="btn btn-laranja" href="" target="_blank">Ver Regulamento</a>
        </div>
      </section>
    </div>
  </main>
</div>
