<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
     <add key="pathFromHierarchy" value="D:\Producao\programamaistop.com.br\api\wwwroot\Content\Spreadsheet\Hierarchy" />
     <add key="pathFromSale" value="D:\Producao\programamaistop.com.br\api\wwwroot\Content\Spreadsheet\Sale" />

     <add key="HostSMTP" value="smtplw.com.br" />
     <add key="HostPORT" value="587" />
     <add key="SmtpUser" value="fullbarmail" />
     <add key="SmtpPassword" value="xTMxRKZJ5478" />
     <add key="HostSender" value="noreply@programamaistop.com.br" />

     <!--<add key="pathFromHierarchy" value="C:\Projetos\whirlpool\whp.maistop\src\Whp.MaisTop.Api\wwwroot\Content\Spreadsheet\Hierarchy" />
     <add key="pathFromSale" value="C:\Projetos\whirlpool\whp.maistop\src\Whp.MaisTop.Api\wwwroot\Content\Spreadsheet\Sale" />

     <add key="pathFromHierarchy" value="D:\Projetos\novoprogramamaistop.fullbarhomologa.com.br\api\wwwroot\Content\Spreadsheet\Hierarchy" />
     <add key="pathFromSale" value="D:\Projetos\novoprogramamaistop.fullbarhomologa.com.br\api\wwwroot\Content\Spreadsheet\Sale" />-->
   </appSettings>
</configuration>