<div class="page-wrapper lista-ocorrencia">
  <div class="row listasOcorrencia">
    <div class="col-lg-12">
      <h1 class="page-header">
        <strong>SAC </strong> <span>- Listar Ocorrências</span>
      </h1>
    </div>
  </div>
  <div class="row listasOcorrencia">
    <div class="col-lg-12">
 <!-- FILTROS -->
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">
      Filtros
    </h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        
        <div class="form-group">
          <label>Assunto</label>
          <select id="subject" class="form-control">
          </select>
        </div>

        <div class="form-group">
          <label>CPF Participante</label>
          <input
            type="text"
            id="cpf"
            class="form-control"
            value=""
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label>Nome</label>
          <input type="text" id="name" class="form-control" value="" />
        </div>
        
        <br class="clear" />

        <div class="form-group">
          <label>Data Abertura</label>
          <input
            type="text"
            id="createdAt"
            isdate
            class="form-control"
            value=""
          />
        </div>

        <div class="form-group">
          <label>Data Fechamento</label>
          <input
            type="text"
            id="closedAt"
            isdate
            class="form-control"
            value=""
          />
        </div>

        <div class="form-group">
          <label>Ocorrência</label>
          <input
            type="text"
            id="code"
            class="form-control"
            value=""
          />
        </div>

        <br class="clear" />
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <input
            type="button"
            onclick="APP.controller.SacEai.listaOcorrencia()"
            class="btn btn-primary"
            value="Buscar"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIM FILTROS -->
      <!-- DADOS -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            Listar Ocorrências
          </h4>
        </div>
        <div class="panel-body">
          <table class="table table-bordered" id="tabela-ocorrenciaeai"></table>
           <!--<div class="well">
            <input
              type="button"
              id="btnExcel"
              class="btn btn-default btn-lg btn-block"
              value="Exportar para Excel"
            />
          </div>-->
        </div>
      </div>
      <!-- FIM DADOS -->
    </div>
  </div>

  @@include('./_detalheOcorrencia.html')
</div>
