<div class="page-wrapper cadastro-produto">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><strong>Fraseologia - Categoria</strong> <span>- Editar</span></h1>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Dados do Categoria
              </a>
            </h4>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                
                <input type="hidden" id="fraseologiaCategoriaEditHdId" value="" />
                <div class="form-group">
                  <label>Nome* </label>
                  <input required type="text" name="fraseologiaCategoriaEditName" id="fraseologiaCategoriaEditName" maxlength="100" class="form-control" />
                </div>
              
                <br class="clear" />

                <div class="form-group" style="width: 50%;">
                  <input type="button" onclick="{APP.controller.PhraseologyCategory.Update()}" id="btnUpdatefraseologiaCategoria" class="btn btn-primary" value="Salvar" />
                </div>
              </div>
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
  </form>
  <!-- /.row -->
</div>
