<div class="page-wrapper lista-produto">
  <div class="row listasproduto">
    <div class="col-lg-12">
      <h1 class="page-header">
        <strong>USUARIO</strong> <span> - Listagem</span>
      </h1>
    </div>
  </div>
  <div class="row listasproduto">
    <div class="col-lg-12">
      <!-- DADOS -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            Filtros
          </h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nome</label>
                <input
                  type="text"
                  id="userListName"
                  class="form-control"
                  value=""
                />
              </div>

              <div class="form-group">
                <label>Cpf</label>
                <input
                  type="text"
                  id="userListCpf"
                  class="form-control"
                  value=""
                />
              </div>

              <div class="form-group">
                <label>Email</label>
                <input
                  type="text"
                  id="userListEmail"
                  class="form-control"
                  value=""
                />
              </div>

              <br class="clear" />

              <div class="form-group">
                <label>Cargo</label>
                <select id="userListOffice" class="form-control"> </select>
              </div>

              <div class="form-group">
                <label>Status</label>
                <select id="userListUserStatus" class="form-control"> </select>
              </div>

              <div class="form-group">
                <label>Rede</label>
                <select id="userListNetwork" class="form-control"> </select>
              </div>

              <br class="clear" />
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="button"
                  id="btnFiltrarpreProcessing"
                  class="btn btn-primary"
                  onclick="{APP.controller.User.setDataTable(true)}"
                  value="Buscar"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top: 1cm" class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            Lista de produtos
          </h4>
        </div>
        <div class="panel-body">
          <table
            class="table table-bordered"
            style="width: 600px"
            id="tabela-usuarios"
          >
            <thead>
              <tr>
                <th><b>CPF</b></th>
                <th><b>NOME</b></th>
                <th><b>EMAIL</b></th>
                <th><b>STATUS</b></th>
                <th><b>CARGO</b></th>
                <th><b>REDE</b></th>
                <th>OPÇÕES</th>
              </tr>
            </thead>
            <tbody class="tbody-usuarios"></tbody>
          </table>
          <!--<div class="well">
              <input
                type="button"
                id="btnExcel"
                class="btn btn-default btn-lg btn-block"
                value="Exportar para Excel"
              />
            </div>-->
        </div>
      </div>
      <!-- FIM DADOS -->
    </div>
  </div>
</div>
