// ==========================================================================
// Variáveis
// ==========================================================================
$image-path: '../img'; // Caminho das imagens
$font-path: '../fonts'; // Caminho das fontes
// ==========================================================================
// Mixins / Functions
// ==========================================================================
@mixin font-size($valor) {
  font-size: ($valor / 16) + rem;
}
